body{
    min-width: 320px;
}

.bg-dark{
    background: black !important;
}

nav{
    margin-bottom: 4em;
}

#updated{
    margin-bottom: 2em !important;
    min-height: 3em !important;
}

#main{
    min-height: 44em;
}

footer{
    min-height: 10em;
    color: #FFF !important;
    padding-top: 2em;
    padding-bottom: 2em;
}