<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enonic weather</title>
    <link rel="icon" href="../../img/logo.png" type="image/gif" sizes="16x16">
    
    <!-- css -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Styles/custom.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container">
            <a class="navbar-brand" href="index.html">Enonic Weather Widget</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="main" class="container">
        <div id="updated">
            Siste oppdatering ble gjort: <br> 
            <strong><span id="time"></span></strong>
        </div>
        <div class="row">
            <div id="oslo" class="col-4">
                <h3>Oslo</h3>
                <div class="OsloTemp">
                    <span id="OsloTemp"></span>°C
                </div>
            </div>
            <div id="London" class="col-4">
                <h3>London</h3>
                <div class="temperatur">
                    <span id="LondonTemp"></span>°C
                </div>
            </div>
            <div id="Minsk" class="col-4">
                <h3>Minsk</h3>
                <div class="temperatur">
                    <span id="MinskTemp"></span>°C
                </div>
            </div>
        </div>
    </div>

    

    <footer class="bg-black">
        <div class="footer-box">
            <div class="container">
                <h4>Info:</h4>
                <ul>
                    <li>Opprettet 21.10.2018</li>
                    <li>Author Ivo K &#169;</li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- scripts -->
    <script src="../../bower_components/moment/moment.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../js/custom.js"></script>
</body>
</html>